.section {
    &--padding {
        padding: 60px 0;
    }
}

.container-lrg {
    margin: 0 auto;
    max-width: 1600px;
}

.container-reg {
    margin: 0 auto;
    max-width: 1230px;
    padding: 0 15px;
}

.grey-bkgd, .grey-bg {
    @include grey-bkgd;
}

.blue-bg {
    background-color: $mirum-blue;
}

.pink-bg {
    background-color: $mirum-pink;
}

.green-bg {
    background-color: $mirum-green;
}

.yellow-bg {
    background-color: $mirum-yellow;
}

.red-bg {
    background-color: $mirum-red;
}
