.app {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    position: relative;

    .app-content {
        position: relative;
        min-height: 100vh;
        height: 100%;
    }
}


