.collection-list {
    @include clearfix;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

.post-item {

    @include span(4 of 12);
    background-color: #fff;
    border-top: 1px solid $mirum-blue;
    color: $mirum-dark-purple;
    cursor: pointer;
    padding: 40px 20px;
    transition: all .2s $easeOut;

    // @include breakpoint($breakpoint-medium) {
    //     flex: 0 1 calc(50% - 8px);
    //     margin-right: 15px;
    // }
    //
    // @include breakpoint($breakpoint-large) {
    //     flex: 0 1 calc(33.33% - 10px);
    // }

    &:last-of-type {
        // @include span(last 4);
        margin-right: 0;
    }

    // &:nth-child(3) {
    //     @include breakpoint($breakpoint-medium) {
    //         margin-right: 0;
    //     }
    //
    //     @include breakpoint($breakpoint-large) {
    //         margin-right: 15px;
    //     }
    // }

    &:hover {
        background-color: $mirum-blue;
    }

    &__type,
    &__time {
        text-transform: uppercase;
    }

    &__time {
        @extend .numbers-timing;
    }

    &__headline {
        font-size: em(16);
    }

}

.thumbnail-item {

    @include span(4 of 12);
    background-color: #fff;
    color: $mirum-dark-purple;
    cursor: pointer;
    padding: 0px 20px;
    transition: all .2s $easeOut;
    //
    // @include breakpoint($breakpoint-medium) {
    //     flex: 0 1 calc(50% - 8px);
    //     margin-right: 15px;
    // }
    //
    // @include breakpoint($breakpoint-large) {
    //     flex: 0 1 calc(33.33% - 10px);
    // }

    &:last-of-type {
        // @include span(last 4);
        margin-right: 0;
    }
    //
    // &:nth-child(3) {
    //     @include breakpoint($breakpoint-medium) {
    //         margin-right: 0;
    //     }
    //
    //     @include breakpoint($breakpoint-large) {
    //         margin-right: 15px;
    //     }
    // }

    &__headline {
        font-size: em(16);
        text-transform: uppercase;
    }

    &__img {
        width: 100%;
        height: auto;
    }

}
