.expandable-item {
    transition: margin-bottom 0.3s ease-in-out 0.2s;
    &.is-open {
        margin-bottom: 250px;
    }
}

.expandable-wrapper {
    position: relative;

    &--sm {
        .expandable-item.is-open {
            margin-bottom: 200px;
        }
        .expandable-container.is-open {
            height: 200px;
        }
    }

    &--md {
        .expandable-item.is-open {
            margin-bottom: 400px;
        }
        .expandable-container.is-open {
            height: 400px;
        }
    }

    &--lg {
        .expandable-item.is-open {
            margin-bottom: 600px;
        }
        .expandable-container.is-open {
            height: 600px;
        }
    }

    &--leadership {
        .expandable-item.is-open {
            margin-bottom: 300px;
        }
        .expandable-container.is-open {
            height: 370px;
        }
    }

}

.expandable-container {
    position: absolute;
    width: 100%;
    z-index: 99;
    top: 0;
    left: 0;
    display: block;
    background-color: white;
    color: black;
    overflow: hidden;
    transition: height 0.4s ease-in-out;
    height: 0;

    &__contents {
        box-sizing: border-box;
        display: block;
        padding: 1rem;
        transform: translateY(-100px);
        opacity: 0;
        transition: transform 0.25s;
    }

    &.is-open {
        height: 250px;
        .expandable-container__contents {
            opacity: 1;
            transform: translateY(0);
        }
    }
}
