.expandable-item {
    transition: margin-bottom 0.4s ease-in-out 0.3s, opacity 0.2s;

    &.is-open {
        transition: margin-bottom 0.4s ease-in-out 0s, opacity 0.2s;
    }

    &.is-not-open {
        opacity: 0.4;
    }
}

.expandable-wrapper {
    position: relative;
}

.expandable-container {

    position: absolute;
    color: $mirum-dark-purple;
    width: 100%;
    z-index: -1;
    top: 0px;
    left: 0px;
    display: block;
    overflow: hidden;

    &__inner {
        @include container;
        @include grey-bg;
        box-sizing: border-box;
        display: block;
        padding: 60px 1rem;
        transform: translateY(-100px);
        opacity: 0;
        transition: transform 0.3s ease-in-out 0s, opacity 0.3s ease-in-out 0s;
    }

    &__contents {
        @include pre(2 of 12);
        @include span(8 of 12);

        @include breakpoint($breakpoint-very-small) {
            @include pre(3 of 12);
            @include span(6 of 12);
        }
    }

    &__close {
        position: absolute;
        top: 15px;
        right: 15px;
        cursor: pointer;
    }

    &.is-closing, &.is-open {
        z-index: 99;
    }

    &.is-open {
        .expandable-container__inner {
            opacity: 1;
            transform: translateY(0);
            transition: transform 0.3s ease-in-out 0.5s, opacity 0.3s ease-in-out 0.5s;
        }
    }
}

<<<<<<< HEAD
.expandable-container--locationsgrid {
    &.is-open {
        // border-bottom: 1px solid #fff;
    }
    .expandable-container__inner {
        padding: 0;
    }

    .expandable-container__contents {
        @include full;
    }
}






=======
.expandable-container-enter {
    opacity: 0;
    transition: opacity 0.3s ease-in-out 0.5s;
    &.expandable-container-enter-active {
        opacity: 1;
    }
}

.expandable-container-leave {
    opacity: 1;
    transition: opacity 0.3s ease-in-out 0.5s;
    &.expandable-container-leave-active {
        opacity: 0;
    }
}
>>>>>>> master
