.bann {
    position: relative;
    height: 700px;
    width: 100%;
    &--purple {
        background-color: $mirum-dark-purple;
    }
    &__bg {
        background-size: cover;
        width: 60%;
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
    }
    &__content-wrapper {
        @include span(4 of 12)
        height: 700px;
    }
    &__content {
        color: white;
    }
    a {
        color: white;
    }
}

.hero-wrapper {
    height: 700px;
    display: block;
}

.hero {
    height: 95vh;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;

    width: 100%;
    display: flex;
    height: 100%;

    &__media {
        height: 100%;
        display: block;
        flex: 0 0 100%;

        @media (min-width: $breakpoint-small) {
            flex: 1 1 auto;
            width: 65%;
        }
    }

    &__content {
        flex: 0 0 100%;
        height: 100%;
        background-color: #F9EB5E;
        display: block;
        padding: 1rem 1rem 3rem;

        @media (min-width: $breakpoint-small) {
            flex: 1 1 auto;
            width: 35%;
        }

    }

    &__copy {
        width: 400px;
        float: right;
        display: flex;
        height: 100%;
        flex-wrap: nowrap;
        flex-direction: column;
    }

    &__image {
        display: block;
        height: 100%;
        width: 100%;
        background-size: cover;
    }

    &__logo {
        flex-grow: 1;
    }

    &__details {
    }

}
