.hero {
    @include container($container-1600);

    height: 95vh;
    width: 100%;
    display: flex;
    &__media {
        height: 100%;
        display: block;
        flex: 0 0 65%;
    }
    &__image {
        display: block;
        height: 100%;
        width: 100%;
        background-size: cover;
    }
    &__content {
        flex: 0 0 35%;
        height: 100%;
        background-color: yellow;
        display: block;
    }
}
