.imagegrid {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 15px 0;


    &__col {
        display: flex;
        flex-direction: column;
        height: 600px;
        border-right: 1px solid white;

        &:last-child {
            border-right: none;
        }
        &--half {
            flex: 0 0 50%;
        }
    }

    &__img {
        background-size: cover;
        background-position: center center;
        flex: 1 0 auto;
        border-bottom: 1px solid white;

        &:last-child {
            border-right: none;
        }
        img {
            visibility: hidden;
            height: 0;
        }
    }
}
