.latest-news {
    @include container();
    @include component();

    @include breakpoint($breakpoint-large) {

    }

    .headline-container {
        position: relative;
    }

    h1.latest-news-headline {
        font-size: em(28);
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;

        @include breakpoint($breakpoint-medium) {
            font-size: em(36);
        }

        @include breakpoint($breakpoint-large) {
            max-width: 80%;
        }
    }

    .view-all-link {
        text-align: center;
        margin-bottom: 20px;

        a {
            font-family: $mirum-sans-bold;
            font-size: em(16);
        }

        @include breakpoint($breakpoint-large) {
            margin: 0;
            position: absolute;
            right: 0;
            bottom: 5px;
        }
    }
}

.latest-stories {
    @include clearfix;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        @include breakpoint($breakpoint-medium) {
            display: flex;
            flex-wrap: wrap;
        }

        @include breakpoint($breakpoint-large) {

        }
    }
}

.story-card {
    // @include span(4);
    background-color: #fff;
    border-top: 1px solid $mirum-blue;
    color: $mirum-dark-purple;
    cursor: pointer;
    padding: 40px 20px;
    transition: all .2s $easeOut;

    @include breakpoint($breakpoint-medium) {
        flex: 0 1 calc(50% - 8px);
        margin-right: 15px;
    }

    @include breakpoint($breakpoint-large) {
        flex: 0 1 calc(33.33% - 10px);
    }

    &:last-of-type {
        // @include span(last 4);
        margin-right: 0;
    }

    &:nth-child(2) {
        @include breakpoint($breakpoint-medium) {
            margin-right: 0;
        }

        @include breakpoint($breakpoint-large) {
            margin-right: 15px;
        }
    }

    &:hover {
        background-color: $mirum-blue;
    }
}

.story-type, .story-time {
    text-transform: uppercase;
}

.story-type {

}

.story-headline {
    font-size: em(16);
}

.story-time {
    @extend .numbers-timing;
}
