.locations-grid__container {
    text-align: center;

    h1 {
        line-height: 1;
        margin-bottom: 60px;
    }
}

.locations-grid__grid {
    background-color: #fff;
    // @include grey-bg();
    color: $mirum-dark-purple;

    // padding: 1px 0 0;
    position: relative;

    &.open-city {
        color: #fff;
        background-color: #fff;
    }

    &:after {
        @include grey-bg();
        position: absolute;
        left: 0;
        bottom: 0;
        content: '';
        width: 100%;
        height: 2px;
    }

    > ul {
        @include reset-list;
        list-style: none;

        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;

        z-index: 100;
    }
}

.locations-grid__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    // margin: 0 1px 1px;
    border-right: 1px solid $color-light-grey;
    // border-left: 1px solid $color-light-grey;
    border-bottom: 1px solid $color-light-grey;
    border-top: 1px solid $color-light-grey;
    // border: 1px solid $color-light-grey;
    // background-color: #fff;
    height: 100px;

    &.expandable-item {
        transition: margin-bottom 0.4s ease-in-out 0.3s, opacity 0;

        > div {
            transition: opacity 0.4s ease-in-out;
        }

        &.is-open {
            background-color: $mirum-dark-purple;
            color: #fff;
            transition: margin-bottom 0.4s ease-in-out 0s, opacity 0;
        }

        &.is-not-open {
            opacity: 1;
            > div {
                opacity: 0.2;
            }

            &:hover {
                > div {
                    opacity: 1;
                }
            }
        }
    }

    @include breakpoint($breakpoint-very-small) {
        // flex: 0 1 calc(50% - 2px);
        // flex-basis: calc(50% - 2px);
        flex: 0 1 50%;
        flex-basis: 50%;
        max-width: 179.5px;
        margin-top: 0;

        &:nth-of-type(n+3) {
            margin-top: -1px;
        }

        &:nth-of-type(2n) {
            border-right: 0;
        }
    }

    @include breakpoint($breakpoint-small) {
        // flex: 0 1 calc(33.3% - 2px);
        flex: 0 1 33.3%;
        flex-basis: 33.3%;
        max-width: 213px;

        &:nth-of-type(n+3) {
            margin-top: 0;
        }

        &:nth-of-type(n+4) {
            margin-top: -1px;
        }

        &:nth-of-type(2n) {
            border-right: 1px solid $color-light-grey;
        }

        &:nth-of-type(3n) {
            border-right: 0;
        }
    }

    @include breakpoint($breakpoint-medium) {
        // flex: 0 1 calc(25% - 2px);
        flex: 0 1 25%;
        flex-basis: 25%;
        max-width: 239.75px;

        &:nth-of-type(n+3), &:nth-of-type(n+4) {
            margin-top: 0;
        }

        &:nth-of-type(n+5) {
            margin-top: -1px;
        }

        &:nth-of-type(2n), &:nth-of-type(3n) {
            border-right: 1px solid $color-light-grey;
        }

        &:nth-of-type(4n) {
            border-right: 0;
        }
    }

    @include breakpoint($breakpoint-large) {
        max-width: 201.66666666666667px;
        // flex: 0 1 auto;
        // flex: 0 1 calc(16% - 2px);
        flex: 0 1 16.666666666667%;
        flex-basis: 16.666666666667%;


        &:nth-of-type(n+3), &:nth-of-type(n+4), &:nth-of-type(n+5) {
            margin-top: 0;
        }

        &:nth-of-type(n+7) {
            margin-top: -1px;
        }

        &:nth-of-type(2n), &:nth-of-type(3n), &:nth-of-type(4n) {
            border-right: 1px solid $color-light-grey;
        }

        &:nth-of-type(6n) {
            border-right: 0;
        }
    }

    &:active {
        background-color: $mirum-dark-purple;
    }

    &:hover {
        background-color: $mirum-dark-purple;
        color: #fff;
        transition: background .2s $easeInOut, color .2s $easeInOut;

        div {
            opacity: 1;
        }
    }
}

.locations-grid__city {

}

.locations-grid__time {

}

.locations-grid__choice {
    // display: none;

    // left: 0;
    // position: absolute;
    // top: 0;
    // width: 100%;

    .choice-container {
        @include container();
        @include grey-bg;
        text-align: left;

        @include breakpoint($breakpoint-medium) {
            min-height: 400px;
        }
    }

    .choice-content {
        background-color: $mirum-yellow;
        padding: 20px;

        @include breakpoint($breakpoint-medium) {
            @include with-layout(inside no-gutters) {
                @include span(4 of 12);
            }

            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            min-height: 400px;
            padding: 0 35px 60px;
        }
    }

    .choice-image {
        overflow: hidden;
        max-height: 200px;

        @include breakpoint($breakpoint-medium) {
            @include with-layout(inside no-gutters) {
                @include span(8 of 12);
            }

            max-height: 400px;
        }
    }

    .continent {
        font-family: $mirum-sans-bold;
        font-size: em(16);
        margin: 0 0 5px;
        text-transform: uppercase;
    }

    .city-name {
        margin: 0 0 15px;
    }

    .office-stats {
        @include reset-list;
        margin-bottom: 20px;
        li {
            margin-bottom: 3px;
        }
    }

    .temp {
        margin-right: 10px;
    }

    .time {
        margin-left: 10px;
    }

    .meet-link {
        color: $mirum-dark-purple;
        font-family: $mirum-sans-bold;
    }
}

.bg-holder {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}











