.styleguide-page {
    @include clearfix;
    display: flex;
}

.sg-nav {
    flex: 0 1 20%;
    padding: 30px;
    margin-right: 45px;
    max-width: 300px;
    border-right: 1px solid $mirum-dark-purple;
}

.sg-content {
    flex: 0 1 auto;
}

.styleguide-section {
    border-bottom: 1px solid $mirum-bone-white;
    .section-title {
        font-family: $mirum-serif-regular;
        margin-bottom: 1em;
    }

    .sub-title {
        font-family: $mirum-sans-bold;
        font-size: em(18);
        text-transform: uppercase;
        margin-bottom: 15px;
    }
}

.sg-inline-code {
    color: $mirum-pink;
    border: 1px solid lightgrey;
    background-color: $color-light-grey;
    padding: 3px;
    font-family: $monospace;
    font-size: em(12);
    border-radius: 3px;
    white-space: nowrap;
}

/*********************
 COLORS
*********************/
.sg-colors {
    @include clearfix;

    .color-list {
        @include reset-list;
        display: flex;
        flex-wrap: wrap;

        li {
            flex: 0 1 20%;

            display: flex;
            flex-direction: column;
            align-items: center;

            margin-bottom: 50px;
            padding: 0 20px;
            text-align: center;

            p {
                margin: 0 0 1em;
            }

            p.hex {
                line-height: 1.6;
            }
        }

        .color-circle {
            border-radius: 50%;
            border: 1px solid lightgrey;
            height: 100px;
            margin: 0 auto 1em;
            width: 100px;

            @include breakpoint($breakpoint-large) {
                height: 175px;
                width: 175px;
            }

            &.is-white {
                border: 2px solid lightgrey;
            }
        }
    }
}


/*********************
 TYPOGRAPHY
*********************/
.sg-typography {

    .card-column-container {
        @include clearfix;
        display: flex;
    }

    .card-column {
        flex: 0 1 50%;
        margin-right: 35px;

        &:last-of-type {
            margin-right: 0;
        }
    }

    .element-card {
        border-top: 1px solid #959595;
        padding: 30px 0;
        min-height: 210px;

        &__title {
            font-family: $mirum-sans-bold;
            font-size: em(18);
            margin-top: 0;

            span {
                font-family: $mirum-sans-regular;
            }
        }

        &__sample {
            margin-bottom: 20px;
            margin-top: 20px;
        }

        &__description {

        }
    }
}

/*********************
 UI ELEMENTS
*********************/
.sg-ui-elements {

    .primary-btn {
        // &.sg-hover, &.sg-focus, &.sg-active {
        //     padding-left: 30px;
        //     padding-right: 30px;
        // }

        // &.sg-hover {
        //     border: 1px solid $mirum-blue;
        // }

        // &.sg-focus {
        //     border: 1px solid $mirum-pink;
        // }

        // &.sg-active {
        //     background-color: $mirum-blue;
        //     border: 1px solid $mirum-blue;
        // }
    }
}

.buttons-guide {
    min-height: 275px;

    &.purple-bg, &.green-bg, &.pink-bg {
        color: #fff;
    }

    &__container {
        @include clearfix;
    }

    &__card {
        @include span(6 of 12);
        margin-bottom: 15px;

        @include breakpoint($breakpoint-large) {
            @include span(3 of 12);

            &:last-of-type {
                @include span(last 3 of 12);
            }
        }
    }

    &__description {
        header {
            font-family: $mirum-sans-bold;
            margin-top: 30px;
        }
        ul {
            @include reset-list;
            li {
                margin-bottom: 5px;
            }
        }
    }
}






