// Breakpoint-Sass Media Queries
// http://breakpoint-sass.com/
$breakpoint-small: 20em; // 320px
$breakpoint-medium: 40em; // 640px
$breakpoint-large: 60em; // 960px
$breakpoint-xlarge: 75em; // 1200px

// Susy layout
$susy: (
    columns: 12,
    container: 1280px,
    gutters: 0,
    global-box-sizing: content-box,
    math: fluid,
    output: float,
    debug: (
        image: hide,
        color: rgba(#66f, .25),
        output: background,
        toggle: top right,
    )
);
