// Breakpoint-Sass Media Queries
// http://breakpoint-sass.com/
$breakpoint-very-small: 20em 22.4375em; // 320px to 359px
$breakpoint-small: 22.5em; // 360px
$breakpoint-medium: 40em; // 640px
$breakpoint-large: 60em; // 960px
$breakpoint-xlarge: 75em; // 1200px

// Susy layout
$susy: (
    columns: 12,
    container-style: fluid,
    gutters: 30px/70px,
    gutter-position: inside,
    global-box-sizing: content-box,
    math: fluid,
    output: float,
    debug: (
        image: hide,
        color: rgba(#66f, .25),
        output: background,
        toggle: top right,
    )
);

$after: layout(12 30px/72.5px after);
$no-gutters: layout(inside no-gutters);
