@import 'easing';

// Colors
$mirum-blue: #4cc8ed;
$mirum-dark-purple: #25172a;

// Typeface
$mirum-sans-regular: 'mirum_sansregular', Verdana, Helvetica, Arial, sans-serif;
$mirum-sans-bold: 'mirum_sansregular', Verdana, Helvetica, Arial, sans-serif;
$mirum-serif-regular: 'mirum_serifregular', Times New Roman, Times, Georgia, serif;
