.primary-button {
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: #fff;
    border: 1px solid #fff;
    font-family: $mirum-sans-bold;
    font-size: em(16);
    line-height: 1;
    margin: 0;
    min-height: 40px;
    padding: 0 0;
    transition: all .2s $easeInOut;

    &:hover,
    &:focus,
    &:active,
    &.sg-hover,
    &.sg-focus,
    &.sg-active {
        padding-left: 30px;
        padding-right: 30px;
    }

    &:hover,
    &.sg-hover {
        border: 1px solid $mirum-blue;
    }

    &:focus,
    &.sg-focus {
        border: 1px solid $mirum-pink;
    }

    &:active,
    &.sg-active {
        background-color: $mirum-blue;
        border: 1px solid $mirum-blue;
    }
}
