.visibly-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    max-width: 100%;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.text-center {
    text-align: center;
}

.bold {
    font-family: $mirum-sans-bold;
}

.white {
    color: #fff;
}
